body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
h3,
p {
  display: flex;
  justify-content: center;
  color: #ff9c00;
  background-color: gainsboro;
}

.calculator {
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}

.display {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  font-size: 1.5rem;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d0d0d0;
}

.function {
  background-color: #f0f0f0;
}

.operator,
.equal {
  background-color: #ff9c00;
  color: white;
}

.zero {
  grid-column: span 2;
}
